<!-- App Component Start -->

<!-- Navbar Content Section -->

<nav class="navbar navbar-expand-lg {{navbarBackgroundColor}} noselect fixed-top" style="border-bottom-left-radius: 40px;border-bottom-right-radius: 40px;box-shadow: 3px 3px 12px 3px rgba(68, 139, 231, 0.4);">
  <div class="container-fluid" style="margin-top: 10px;">
    <a class="navbar-brand" href="#"><img class="h-8" src="{{generalIcon}}" alt="">&nbsp;&nbsp;{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item1">
          <form class="d-flex" role="search">
            <input class="form-control navbar-search-barr" style="width: 100%;border-radius: 15px;"
              type="text" placeholder="Search any products here" aria-label="Search">
            <button style="margin-left: 10px;border-radius: 15px;"
              class="btn btn-primary navbar-search-bar-button" type="button">Search</button>
          </form>
        </li>
      </ul>
                  <div class="navbar-nav ms-lg-4">
        <a class="nav-item nav-link" href="#" *ngIf="isLogged === false">Sign in</a>
        <a class="nav-link" *ngIf="isLogged === true" href="#"><i class="fas fa-shopping-cart"></i> &#160;&#160;Cart</a>
             <a *ngIf="isLogged === true" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
              class="fas fa-user"></i>&nbsp;&nbsp;Profile</a>
          <ul class="dropdown-menu {{dropdownBackground}} dropdown-menu-end"
            aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#" (click)="changeBackground($event)">Change theme</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
                <a href="#" class="btn btn-secondary w-full w-lg-auto" *ngIf="isLogged === false">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Main Content Section -->

<div class="vh-100 d-flex justify-content-center align-items-center
  bg-secondary">
  <h1>Main Content</h1>
  <router-outlet></router-outlet>
</div>

<!-- Footer Content Section -->

<div class="{{footerBackgroundColor}}">
  <p class="text-center p-4 m-0">Footer Content</p>
</div>

<!-- App Component End -->