
@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

.navbar-search-barr:focus {
  padding-right: 200px;
  outline: none;
}


.navbar-search-barr {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0.01s;
  width: 100%;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(68, 139, 231, 0.4);
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin-top: 10px;
  }

  .nav-item {
    margin-top: 5px;
  }
} 